/exercise06/build/
/exercise06/build.gradle
/exercise07/build/
/exercise07/build.gradle
/exercise08/build/
/exercise08/build.gradle
/exercise09/build/
/exercise09/build.gradle
/exercise10/build/
/exercise10/build.gradle
/exercise11/build/
/exercise11/build.gradle
/exercise12/build/
/exercise12/build.gradle
/exercise13/build/
/exercise13/build.gradle
/exercise14/build/
/exercise14/build.gradle
/exercise15/build/
/exercise15/build.gradle
/exercise16/build/
/exercise16/build.gradle
/exercise17/build/
/exercise17/build.gradle
/exercise18/build/
/exercise18/build.gradle
/exercise19/build/
/exercise19/build.gradle